@model CaptaWebApplication.Models.Client

<h1>Criar Cliente</h1>
<br />
@using (Html.BeginForm("CreateClientPost", "Create", FormMethod.Post))
{
    <table class="col-11" style="margin-top:5%;">
        <tr>
            <th>Nome</th>
            <td>@Html.EditorFor(model => model.nome)</td>
        </tr>
        <tr>
            <th>Sexo</th>
            <td>@Html.EditorFor(model => model.sexo)</td>
        </tr>
        <tr>
            <th>situação Cliente</th>
            <td>@Html.EditorFor(model => model.situacaoCliente)</td>
        </tr>
        <tr>
            <th>Tipo Cliente</th>
            <td>@Html.EditorFor(model => model.tipoCliente)</td>
        </tr>
        <tr>
            <th>Cpf</th>
            <td>@Html.EditorFor(model => model.cpf)</td>
        </tr>

    </table>
    <input type="submit" value="Criar">
}

<style type="text/css">
    body {
        background-image: linear-gradient( lightblue, lightblue);
    }
</style>